{{ define "styles" }}
  <style>
    a:link, a:visited {
      text-decoration: none;
      color: white; 
      cursor: pointer;
    }
  </style>
{{ end }}

{{ define "content" }}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <!-- Docker Host Cards -->
    <div class="row">
        {{ with .Hosts }}
            {{ range . }}
                <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card text-white shadow">
                    <a href="/stats/{{ .Name }}">
                      <div class="card-body {{ .BGColor }}">
                         {{ .Name }} 
                          <div>
                            <i class="fa fa-desktop fa-lg" style="float: right; margin-right: 5px; margin-top: -10px;" aria-hidden="true"></i>
                          </div>
                          <div class="text-white small">{{ .IP }}</div>
                      </div>
                    </a>
                  </div>
                </div>
            {{ end }}
        {{ end }}
    </div> 

    <!-- Content Row -->
    <div class="row">
      <!-- Pie Chart -->
      <div class="col-xl-6 col-lg-8">
        <div class="card shadow mb-4">

          <!-- Card Header -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Running Containers</h6>
          </div>

          <!-- Card Body -->
          <div class="card-body">
            <div class="chart-pie pt-4 pb-2">
              <canvas id="myPieChart"></canvas>
            </div>
            <script>
                var hosts = [];
                var containers = [];
                var backgroundColors = [];
            </script>
            <div class="mt-4 text-center small">
              {{ with .Hosts }}
                {{ range . }}   
                  <span class="mr-2 {{ .ColorCode }}">
                    <i class="fas fa-circle"></i> {{ .Name }}
                    <script>
                      hosts.push('{{ .Name }}');
                      containers.push('{{ .ContainerCount }}');
                      backgroundColors.push('{{ .BGColorCode }}');
                    </script>
                  </span>
                {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
  </div> 
  <!-- Content Row -->
  
{{end}}

{{ define "scripts" }}
  <script>
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';

    // Pie Chart Example
    var ctx = document.getElementById("myPieChart");
    var myPieChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: hosts,
        datasets: [{
          data: containers,
          backgroundColor: backgroundColors,
          hoverBorderColor: "rgba(234, 236, 244, 1)",
        }],
      },
      options: {
        maintainAspectRatio: false,
        tooltips: {
          backgroundColor: "rgb(235,235,255)",
          bodyFontColor: "#000000",
          borderColor: '#dddfeb',
          borderWidth: 1,
          xPadding: 15,
          yPadding: 15,
          displayColors: false,
          caretPadding: 10,
        },
        legend: {
          display: false
        },
        cutoutPercentage: 70,
      },
    });        
  </script>
{{ end }}