{{ define "styles" }}
  <style>
    .inline {
      display: inline;
    }
    .link-button {
      background-color: transparent;
      border: none;
      color:#4e73df;
      cursor: pointer;
    }
    .link-button:focus {
      outline: none;      
    }
    .link-button:hover {
      text-decoration: underline;
    }
  </style>
{{ end }}

{{ define "content" }}
    {{ $selectedHost := .SelectedHost }}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ $selectedHost }}</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Docker Stats -->
        <div class="col-xl-12 col-lg-12 col-md-12">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Docker Stats</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body" style="height: 450px; width: -webkit-fill-available;">
              <div class="chart-area" style="height: -webkit-fill-available; width: -webkit-fill-available;">
                <canvas id="docker-stats-chart"></canvas>
              </div>
            </div>
          </div>
        </div>        
    </div>

    <script>
        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';
        var selectedHost = '{{ .SelectedHost }}';
        var datasets = [];
    </script>

    {{ with .RunningContainers }} 
      {{ range . }}
        <script>
          var dataset = {
            label: "{{ .Name }}",
            data: ["", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
            lineTension: 0.2,
            backgroundColor: "{{ .ColorCode }}",
            borderColor: "{{ .ColorCode }}",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderWidth: 1.5,
            borderJoinStyle: 'miter',
            pointRadius: 0,
            pointHitRadius: 10,
            pointHoverBackgroundColor: "{{ .ColorCode }}",
            pointHoverBorderColor: "{{ .ColorCode }}",
            pointHoverBorderWidth: 2,    
            fill:false,
          };
          datasets.push(dataset);
        </script> 
      {{ end }}
    {{ end }}

    <!-- Few important Container details -->
    <div class="row">
      {{ with .AllContainers }} 
        {{ range . }}
          <div class="col-lg-4">
            <div class="card mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapseCardExample-{{.Name}}" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample-{{.Name}}">
                  <h6 class="m-0 font-weight-bold text-primary">{{ .Name }}</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardExample-{{.Name}}">
                  <div class="card-body">
                    <div>
                      <strong>Image: </strong>
                      <span>{{ .Image }}</span>
                    </div>
                    <div>
                      <strong>Command: </strong>
                      <span>{{ .Command }}</span>
                    </div>
                    <div>
                      <strong>State: </strong>
                      {{ if eq .State "exited" }}
                        <span style="color: red">{{ .State }}</span>
                      {{ else if eq .State "created" }}
                        <span style="color: #f6b23f">{{ .State }}</span>
                      {{ else }}
                        <span style="color: darkgreen">{{ .State }}</span>
                      {{ end }}
                    </div>
                    <div>
                      <strong>Status: </strong>
                      <span>{{ .Status }}</span>
                    </div>
                    <div style="float: right">
                      <a href="/host/containers/{{$selectedHost}}">more</a>
                    </div>                    
                  </div>                  
                </div>                
            </div> 
          </div>
        {{ end }}
      {{ end }}
    </div>

{{ end }}

{{ define "scripts" }}

  <script>
    var ctx = document.getElementById("docker-stats-chart");
    var data = {
        labels: ["", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
        datasets: datasets,
    };

    var options = {
        showLines: true,
        animation: false,
        legend: {
          display: true
        },
        maintainAspectRatio: false,
        layout: {
            padding: {
                left: 10,
                right: 25,
                top: 25,
                bottom: 0
            }
        },
        scales: {
            xAxes: [{
                gridLines: {
                  display: true,
                  drawTicks: false
                },
                ticks: {
                    fontSize: 10,
                    maxRotation: 10,
                    padding: 10
                }
            }],
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'CPU usage (%)'
                },
                ticks: {
                    min: 0,
                    stepSize: 50,
                    padding: 10
                },
                gridLines: {
                    color: "rgb(234, 236, 244)",
                    zeroLineColor: "rgb(234, 236, 244)",
                    drawBorder: false,
                    borderDash: [2],
                    zeroLineBorderDash: [2]
                }
            }],
        },
        
        tooltips: {
            backgroundColor: "rgb(255,255,255)",
            bodyFontColor: "#858796",
            titleMarginBottom: 10,
            titleFontColor: '#6e707e',
            titleFontSize: 14,
            borderColor: '#dddfeb',
            borderWidth: 1,
            xPadding: 15,
            yPadding: 15,
            displayColors: false,
            intersect: false,
            mode: 'index',
            caretPadding: 10,
            callbacks: {
                label: function(tooltipItem, chart) {
                    var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                    return datasetLabel + ': ' + tooltipItem.yLabel + "%";
                }
            }
        }
    };
    var usage, cIndex = 0;

    var statsLineChart = new Chart(ctx, {
        type: 'line',
        data: data,
        options: options 
    });

    var conn;
    window.onload = () => {

      if (window["WebSocket"]) {
        conn = new WebSocket("ws://localhost:8000/ws");

        conn.onopen = () => {}
        
        conn.onclose = (error) => {
          console.log("connection closed due to: ", error);
        }
        
        conn.onmessage = (msg) => {
          let data = JSON.parse(msg.data);
          cIndex = parseInt(data['index']);
          usage = parseFloat(data['usage']);
          statsLineChart.data.datasets[cIndex].data.push(usage);
          statsLineChart.data.datasets[cIndex].data.shift();

          var ctime = new Date ();
          var csecs = moment(ctime).format("s");
          if (csecs % 5 === 0) {
              statsLineChart.data.labels.push(moment(ctime).format("mm:ss"));
          } else {
              statsLineChart.data.labels.push('');
          }
          statsLineChart.data.labels.shift();
          statsLineChart.update();
        }
      }

      document.getElementById("nav-dashboard").classList.remove("active");
      document.getElementById("nav-docker-hosts").classList.add("active");
      document.getElementById("{{ .SelectedHost }}-link").classList.add("active");
      document.getElementById("nav-collapse-hosts").classList.remove("collapsed");
      document.getElementById("collapseHosts").classList.add("show");
      document.getElementById("nav-dashboard").classList.add("inactive");
    };

  </script>

{{ end }}

