{{ define "styles" }}
  <style>
    li.borderless {
      border-top: 0 none;
      border-bottom: 0 none; 
      padding: 0rem .75rem 0.25rem
    }
  </style>
{{ end }}

{{ define "content" }}
    {{ $selectedHost := .SelectedHost }}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ $selectedHost }}</h1>
    </div>

    <!-- Few important Container details -->
    <div class="row">
      {{ with .AllContainers }} 
        {{ range . }}
          <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapseCardExample-{{.Name}}" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample-{{.Name}}">
                  <h6 class="m-0 font-weight-bold text-primary">{{ .Name }}</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardExample-{{.Name}}">
                  <div class="card-body">
                    <div>
                      <strong>Image: </strong>
                      <span>{{ .Image }}</span>
                    </div>
                    <div>
                      <strong>Command: </strong>
                      <span>{{ .Command }}</span>
                    </div>
                    <div>
                      <strong>Port Mapping : </strong>                                           
                    </div>
                    <ul class="list-group list-group-flush">
                      {{ with .Ports }}
                        {{ range . }}
                          <li class="borderless list-group-item">{{.IP}}:{{.PublicPort}} -> {{.PrivatePort}}/<strong>{{.Type}}</strong></li>
                        {{ end }}
                      {{ end }} 
                    </ul>
                    <div>
                      <strong>Mounts: </strong>
                      <ul class="list-group list-group-flush">
                          {{ with .Mounts }}
                            {{ range . }}
                              <li class="borderless list-group-item mount-point" style="border-radius: 0.35rem; border-left: 1.2px solid rgba(0,0,0,.125); border-right: 1px solid rgba(0,0,0,.125);">
                                <ul class="list-group">
                                  <li class="borderless list-group-item">
                                    <strong>Type: </strong><span>{{.Type}}</span>                                  
                                  </li>
                                  <li class="borderless list-group-item">
                                    <strong>Name: </strong><span>{{.Name}}</span>  
                                  </li>  
                                  <li class="borderless list-group-item">
                                    <strong>Source: </strong><span>{{.Source}}</span>  
                                  </li>
                                  <li class="borderless list-group-item">
                                    <strong>Destination: </strong><span>{{.Destination}}</span>  
                                  </li>
                                  <li class="borderless list-group-item">
                                    <strong>Read/Write: </strong><span>{{.RW}}</span>  
                                  </li>
                                </ul>
                              </li>                            
                            {{ end }}
                          {{ end }} 
                        </ul>
                    </div>
                    <div>
                      <strong>State: </strong>
                      {{ if eq .State "exited" }}
                        <span style="color: red">{{ .State }}</span>
                      {{ else if eq .State "created" }}
                        <span style="color: #f6b23f">{{ .State }}</span>
                      {{ else }}
                        <span style="color: darkgreen">{{ .State }}</span>
                      {{ end }}
                    </div>
                    <div>
                      <strong>Status: </strong>
                      <span>{{ .Status }}</span>
                    </div>
                    <div style="float: right; margin-bottom: 0.5rem;">
                      <a href="" class="btn btn-sm btn-success btn-icon-split" id="{{.Name}}-start">
                        <span class="icon text-white-50">
                          <i class="fas fa-check"></i>
                        </span>
                        <span class="text">Start</span>
                      </a>
                      <a href="" class="btn btn-sm btn-warning btn-icon-split">
                        <span class="icon text-white-50">
                          <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <span class="text">Stop</span>
                      </a>
                      <a href="" class="btn btn-sm btn-danger btn-icon-split">
                        <span class="icon text-white-50">
                          <i class="fas fa-trash"></i>
                        </span>
                        <span class="text">Remove</span>
                      </a>
                    </div>                    
                  </div>                  
                </div>                
            </div> 
          </div>

          <script>
            $("#{{.Name}}-start").click(function(e){
              e.preventDefault();
              $.ajax({
                url: '/container/start',
                type: 'POST',
                data: JSON.stringify({ host: '{{$selectedHost}}', id: '{{.ID}}' }),
                contentType: "application/json; charset=utf-8",
                success: function (res) {
                  console.log(JSON.parse(res))
                },
                error: function(res) {
                  console.log(res);
                }
              });
            });
          </script>
        {{ end }}
      {{ end }}
    </div>

{{ end }}

{{ define "scripts" }}
  <script>
    window.onload = () => {
        document.getElementById("nav-dashboard").classList.remove("active");
        document.getElementById("nav-docker-hosts").classList.remove("active");
        document.getElementById("nav-dashboard").classList.add("inactive");
        document.getElementById("nav-docker-hosts").classList.add("inactive");
        document.getElementById("nav-containers").classList.add("active");
        document.getElementById("nav-collapse-hosts").classList.add("collapsed");
        document.getElementById("nav-collapse-containers").classList.remove("collapsed");
        document.getElementById("collapseContainers").classList.add("show");
        document.getElementById("{{ .SelectedHost }}-containers-link").classList.add("active");
    };
  </script>
{{ end }}

